aiohttp==3.7.4.post0
anyio==3.5.0
appnope==0.1.3
argcomplete==2.0.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref==3.5.1
asttokens==2.0.4
async-timeout==3.0.1
attrs==21.2.0
autopep8==1.6.0
backcall==0.2.0
base58==2.1.0
beautifulsoup4==4.11.1
bitarray==1.2.2
black==21.9b0
bleach==5.0.0
cachelib==0.9.0
certifi==2021.5.30
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.6
click==8.0.1
cs50==9.2.2
Cython==0.29.28
cytoolz==0.11.0
dataclassy==0.10.4
debugpy==1.6.0
decorator==5.1.1
defusedxml==0.7.1
distlib==0.3.4
dnspython==2.2.1
docutils==0.18.1
eip712==0.1.0
email-validator==1.2.1
entrypoints==0.4
eth-abi==2.1.1
eth-account==0.5.5
eth-brownie==1.16.4
eth-event==1.2.3
eth-hash==0.3.2
eth-keyfile==0.5.1
eth-keys==0.3.3
eth-rlp==0.2.1
eth-typing==2.2.2
eth-utils==1.10.0
execnet==1.9.0
executing==0.8.3
fastapi==0.77.1
fastjsonschema==2.15.3
filelock==3.6.0
Flask==2.1.2
flask-googlemaps==0.4.1
Flask-Session==0.4.0
ghp-import==2.1.0
greenlet==1.1.2
h11==0.13.0
hexbytes==0.2.2
htmlmin==0.1.12
hypothesis==6.21.6
idna==3.2
importlib-metadata==4.12.0
inflection==0.5.0
iniconfig==1.1.1
ipfshttpclient==0.8.0a2
ipykernel==6.13.0
ipython==8.3.0
ipython-genutils==0.2.0
ipywidgets==7.7.0
itsdangerous==2.1.2
jedi==0.18.1
Jinja2==3.1.2
jsmin==3.0.1
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==7.3.1
jupyter-console==6.4.3
jupyter-core==4.10.0
jupyterlab-pygments==0.2.2
jupyterlab-widgets==1.1.0
Kivy==2.1.0
Kivy-Garden==0.1.4
kivymd==0.104.2
lazy-object-proxy==1.6.0
lru-dict==1.1.7
Markdown==3.3.7
MarkupSafe==2.1.1
matplotlib-inline==0.1.3
mergedeep==1.3.4
mistune==0.8.4
mkdocs==1.3.1
mkdocs-material==5.5.14
mkdocs-material-extensions==1.0.3
mkdocs-minify-plugin==0.3.0
multiaddr==0.0.9
multidict==5.1.0
mypy-extensions==0.4.3
mythx-models==1.9.1
nbclient==0.6.3
nbconvert==6.5.0
nbformat==5.4.0
nest-asyncio==1.5.5
netaddr==0.8.0
notebook==6.4.11
packaging==21.0
pandocfilters==1.5.0
parsimonious==0.8.1
parso==0.8.3
pathspec==0.9.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.1.0
pipx==1.0.0
platformdirs==2.3.0
pluggy==1.0.0
prometheus-client==0.14.1
prompt-toolkit==3.0.20
protobuf==3.18.0
psutil==5.8.0
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.10.0
py-solc-ast==1.2.9
py-solc-x==1.1.0
pycodestyle==2.8.0
pycparser==2.21
pycryptodome==3.10.1
pydantic==1.9.0
Pygments==2.10.0
pygments-lexer-solidity==0.7.0
PyJWT==1.7.1
pymdown-extensions==9.5
pyparsing==2.4.7
pyrsistent==0.18.0
pytest==6.2.5
pytest-forked==1.3.0
pytest-xdist==1.34.0
python-dateutil==2.8.2
python-dotenv==0.16.0
python-multipart==0.0.5
pythx==1.6.1
PyYAML==5.4.1
pyyaml_env_tag==0.1
pyzmq==22.3.0
qtconsole==5.3.0
QtPy==2.1.0
regex==2021.8.28
requests==2.26.0
rlp==1.2.0
semantic-version==2.8.5
Send2Trash==1.8.0
six==1.16.0
sniffio==1.2.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
SQLAlchemy==1.4.40
sqlparse==0.4.2
stack-data==0.2.0
starlette==0.19.1
termcolor==1.1.0
terminado==0.15.0
tinycss2==1.1.1
toml==0.10.2
tomli==1.2.1
toolz==0.11.1
tornado==6.1
tqdm==4.62.3
traitlets==5.2.1.post0
typing-extensions==3.10.0.2
urllib3==1.26.6
userpath==1.8.0
uvicorn==0.17.6
varint==1.0.2
virtualenv==20.14.1
vvm==0.1.0
vyper==0.2.16
watchdog==2.1.9
wcwidth==0.2.5
web3==5.23.1
webencodings==0.5.1
websockets==9.1
Werkzeug==2.1.2
widgetsnbextension==3.6.0
wrapt==1.12.1
yarl==1.6.3
zipp==3.8.1
