{% extends "layout.html" %}

{% block title %}
    About Us
{% endblock %}

{% block main %}
        <div class="about-body">
            <h1 class="hero-text col-lg-12" id="shop-head">About Us</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod similique <br> 
                reiciendis facilis impedit omnis aspernatur reprehenderit at possimus incidunt esse vero, voluptatibus ab totam harum tempora. <br>
                Voluptate, esse harum! Explicabo id accusantium eos aperiam doloribus. Fuga, magni beatae reprehenderit velit, quas sunt, voluptate repudiandae quibusdam neque error reiciendis voluptates minima<br> 
                non esse vero ut dolorem ipsam dolor natus. Harum minima ex asperiores omnis quasi. Architecto delectus, mollitia beatae voluptatum, aperiam asperiores ratione laboriosam quibusdam maxime, error vero minima dolorum. Explicabo est nulla numquam aspernatur repudiandae deleniti nam ducimus laboriosam tempore eaque, ex eligendi<br>
                 itaque quos. Aut nobis sint quam nihil vero debitis ipsa et quidem assumenda non cumque, necessitatibus labore dicta quisquam voluptatibus minus accusamus eaque. Perferendis deserunt accusantium quidem modi autem, ullam esse facilis rerum eum! Labore, sequi. Quidem dolor iusto<br> consectetur inventore debitis corporis vel saepe perferendis quis vero harum, velit distinctio nisi dolorum corrupti quod alias!</p>
         </div>
         <div><iframe class="gmap_iframe" width="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=600&amp;height=400&amp;hl=en&amp;q=lagos nigeria&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
            <style>.gmap_canvas {overflow:hidden;background:none!important;width:100%;height:400px;}.gmap_iframe {height:400px!important;}</style></div>
{% endblock %}
