{% extends "layout.html" %}

{% block title %}
    Shelves
{% endblock %}

{% block main %}
    <div class="result-body">
        <table class="table">
            <thead scope="col"><h1>You Can Find Shelves in <b>{{address}}</b> Here</h1></thead>
            <tbody>
                {% for re in locate %}
                <tr>
                    <td>
                {{re["name"]}}
                    </td>
                    <td>
                {{re["formatted"]}}
                    </td>
                </tr>
                {%  endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}